<!DOCTYPE html>
<html lang="en">

<head>
  <title>ChatMe - Set Avatar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/css/style.css" rel="stylesheet">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>
  <section
    class="min-h-screen max-h-screen flex min-h-screen flex-col items-center justify-center gap-4 bg-slate-800 text-slate-50">
    <div>
      <div>
        <h1>Pick an avatar as your profile picture!</h1>
      </div>
      <div>

      </div>
    </div>
  </section>

</body>

</html>
