<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chat Me</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/css/style.css" rel="stylesheet">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <style>
    ::-webkit-scrollbar {
      width: .2rem;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #ccc;
      width: .1rem;
      border-radius: 1rem;
    }

    .h-s-screen {
      height: 100svh;
    }

    .chat-box {
      height: calc(100% - 60px)
    }
  </style>
</head>

<body>
  <div class="h-screen h-s-screen w-screen bg-slate-800 overflow-hidden relative text-slate-100 md:flex" x-data="users">
    <input type="checkbox" id="menu" aria-hidden="true" class="peer hidden" x-ref="menu" />

    <!-- left hand side drawer -->
    <aside
      class="absolute top-0 -left-full z-10 transition transition h-full w-full md:w-80 duration-500 peer-checked:translate-x-full bg-slate-800/50 md:static md:shrink-0"
      @click.self="$refs.menu.checked = false">
      <div class="flex flex-col bg-slate-900 h-full w-64 md:w-full justify-between">
        <ul class="flex flex-col gap-4 px-4 py-8 md:px-8 overflow-auto h-3/4">
          <template x-for="user in users">
            <li>
              <button
                class="flex gap-4 items-center bg-slate-600 hover:bg-slate-700 w-full rounded-md p-2 shadow shadow-slate-400/70 transition duration-300 active:shadow-none"
                @click="() => selectChat(user.username)"
                :class="{'ring-[3px] ring-sky-500 ring-offset-[3px] ring-offset-slate-900': user.username === chatWith}">
                <div class="h-12 w-12">
                  <img :src="user?.avatarImage" />
                </div>
                <p x-text="user?.username"></p>
              </button>
            </li>
          </template>
        </ul>

        <div>
          <div class="flex items-center shrink-0 justify-center p-8 gap-4">
            <img class="h-16 w-16" :src="me?.avatarImage" :alt="`your avatar`" />
            <span class="text-2xl font-bold" x-text="me?.username"></span>
          </div>

          <form action="/login" method="DELETE">
            <button
              class="text-center gap-4 bg-slate-600 hover:bg-slate-700 w-full p-2 transition duration-300 uppercase">Log
              out</button>
          </form>
        </div>
      </div>
    </aside>

    <div class="px-4 py-2 md:px-8 grow flex flex-col h-full">
      <section class="flex justify-between items-center m-2 sm:m-0 sm:hidden">
        <h2 class="font-bold text-2xl flex items-center gap-4">
          <span class="block h-12 w-12"><img :src="currentChat?.avatarImage" /></span>
          <span x-text="currentChat?.username"></span>
        </h2>
        <label for="menu"
          class="px-4 py-3 rounded-lg bg-slate-600 py-2 font-bold uppercase shadow shadow-slate-600 transition hover:bg-slate-700 active:shadow-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </label>
      </section>

      <main class="grow flex flex-col h-full">
        <section x-show="!currentChat?.username" x-transition.duration.300ms
          class="flex flex-col items-center justify-center">
          <div> <img src="/assets/images/robot.gif" alt="welcome robot" /></div>
          <div class="text-center">
            <h1 class="font-bold text-2xl md:text-3xl monospace">Welcome <span class="text-green-300"
                x-text="me?.username"></span>!</h1>
            <p>Please select a chat to start messaging.</p>
          </div>
        </section>

        <section x-show="currentChat?.username" x-transition.duration.300ms
          class="flex flex-col justify-between gap-2 h-full">
          <ul class="bg-slate-900 rounded-lg overflow-y-auto flex flex-col gap-4 p-4 chat-box">
            <template x-for="(msg, i) in chatMessages" :key="msg.id">
              <li :class="{'self-end': msg.sender === me.id }">
                <span x-text="msg.message" class="px-6 py-2 bg-slate-600 w-fit rounded-lg "></span>
              </li>
            </template>
          </ul>

          <form class="flex gap-2 relative" @submit.prevent="send">
            <input class="hidden" name="from" x-model="me.id" />
            <input class="hidden" name="to" x-model="currentChat.id" />
            <input type="text" id="message" x-ref="message" name="message" placeholder="Aa..." x-model="message"
              autocomplete="off">
            <button
              class="text-center bg-slate-600 hover:bg-slate-700 rounded-md grow-0 self-center p-4 shadow-sm shadow-slate-400/70 transition duration-300 active:shadow-none">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill="currentColor"
                  d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26l.001.002l4.995 3.178l3.178 4.995l.002.002l.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215l7.494-7.494l1.178-.471l-.47 1.178Z" />
              </svg>
            </button>
          </form>

        </section>
      </main>
    </div>

  </div>

  <script src="/assets/js/chat.js"></script>
</body>

</html>
